<div class="col-xs-3">
	<h2>User info</h2>
    <p><%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.png"), size:'100x100' %></p>
    <table>
    	<tbody>
    	    <tr>
    		    <th>Name</th>
                <th><%= @user.name %></th>
    	    </tr>
    	    <tr>
    		    <th>introduction</th>
                <th><%= @user.introduction %></th>
    	    </tr>
    	</tbody>
    </table>
    <%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
       <!-- <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" href="/users/edit"></a> -->

    <h2>New book</h2>
    <%= form_for(@book) do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>

        <h4>Opinion</h4>
        <%= f.text_area :body %>

        <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
    <% end %>
</div>

<style>
table tbody tr th {
    padding: 8px;
    border-top: 1px solid gray;
}
</style>